
body, html {
  background-color: darken(white, 40);
  font-size: 20px;
}
h1 {
  text-align: center;
}
#main {
  margin: 0 auto;
  margin-top: 5em;
  width: 90%;
  height: auto;
  background-color: darken(white, 20);
  padding: 1em;
}
textarea {
  height: 20em;
  width: 75%;
  resize: vertical;
}
