/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Utopia";
    -fx-font-weight: bold;
    -fx-base:  #FA8072;
    -fx-background:  #FFFFFF;
}
