doctype html

html
  head 
    meta(charset = "utf-8")
    meta(description content = "FCC Roguelike Dungeon Crawler")
    meta(name="viewport", content="width=device-width initial-scale=1")
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.1/react-bootstrap.min.js")
    
    link(rel="stylesheet", href="style.css")
    
    title Dungeon Crawler
    
  body
    #main.container
    
    script(type="text/javascript", src="script.js")
    
    p.footer
      | A Roguelike Clone
      br
      | Created by #[a(href="http://www.softwareontheshore.com", target="_blank") Software on the Shore] for 
      | #[a(href="http://www.freecodecamp.com", target="_blank") FreeCodeCamp].
