body {
  background-color: #457E86;
}
#top {
  background-color: #663300;
  color: white;
  width: 100%;

  h1 {
    text-align: center;

    @media (max-width: 650px) {
      font-size: 17px;
    }
  }
  h3 {
    @media (max-width: 650px) {
      font-size: 12px;
    }
  }
}
.content {
  text-align: center;

  table {
    width: 100%;
    margin: 15px;
    font-size: 15px;
    background-color: white;

    @media (max-width: 650px) {
      margin: 3px;
      font-size: 12px;
    }
  }
  td, th {
    border: 2px solid #663300;
    padding: 1.8rem;
    padding-left: 1rem;

    @media (max-width: 650px) {
      padding: .5rem;
      padding-left: .5rem;
    }
  }
  th {
    font-size: 20px;
    text-align: center;

    @media (max-width: 650px) {
      font-size: 11px;
    }
  }
  td {
    color: #663300;
  }
  .rank {
    color: green;
  }
  .leaderName {
    font-weight: bold;
  }
  .score {
    color: #457E86;
    font-weight: bold;
  }
  .leaderSort {
    margin: 15px;

    label {
      color: white;
      font-size: 20px;
    }

    input {
      margin: 10px;
    }
  }
}
.footer {
  text-align: center;
  padding-top: 20px;
  color: #663300;

  @media (max-width: 650px) {
    padding-top: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
