body, html {
  font-size: 20px;
  background-color: lighten(gray, 20);
}
canvas {
  padding-left: 0;
   padding-right: 0;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
#top {
  width: 100%;
  text-align: center;
}
#main {
  width: 100%;

  #content {
    text-align: center;

    #buttons {
      display: inline-block;
    }
    #control-panel {
      display: inline-block;
      font-size: .9em;
      padding: .5em;
      margin-bottom: 1em;
      border: .2em solid black;
      background-color: white;

      .display-label, .tracking-label {
        background-color: white;
        color: gray;
      }

      .display-label {
        margin-left: .25em;
        font-weight: bolder;
        font-size: 1em;
      }
    }
    #messages {
      width: 50%;
      resize: none;
      margin: .2em;
      font-size: .7em;
      color: gray;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 1em;
  font-size: .6em;
}

.instr {
  font-size: .7em;
}
