body, html {
  background-color: lighten(#006591, 10);
  color: white;

  @media (max-width: 650px) {
    font-size: 10px;
  }
  @media (min-width: 650px) and (max-width: 900px) {
  }
}

#top {
  width: 100%;
  text-align: center;
  margin: .5em;

  @media (max-width: 650px) {
    h1 {
      font-size: 2.2em;
    }
    h3 {
      font-size: 1.7em;
    }
  }
  @media (min-width: 650px) and (max-width: 900px) {
  }
}
#main {
  #content {
    .hidden {
      display: none;
    }
    #home-grid {
      text-align: center;
      margin: .5em;

      img {
        height: auto;
        width: 20em;
        border-radius: .5;
        margin: 1em;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);

        &:hover {
          width: 21em;
          margin: .5em;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 white;
          cursor: pointer;
        }

        @media (max-width: 650px) {
          width: 18em;
        }
        @media (min-width: 650px) and (max-width: 900px) {
        }
      }
    }
    #toolbar {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;

      #buttons {
        display: inline-block;
      }
    }
    #graphs {
      text-align: center;
      color: #006591;

      .graph {
        margin: .5em;
      }

      #scatter-graph text {
        font-size: .75em;
      }
      #bar-graph, #scatter-graph, #heat-graph, #force-graph, #global-graph {
        background-color: white;
        padding: 1em;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);

        p {
          margin: .1em;
          font-size: .8em;
        }
        .axis {
          text {
            font: 1em sans-serif;
          }
          path, line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
          }
        }
        .tooltip {
          position: absolute;
          text-align: left;
          width: auto;
          height: auto;
          padding: 3px 5px 3px 5px;
          font: 1em sans-serif;
          border: 0px;
          border-radius: 5px;
          pointer-events: none;
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
          background-color: lightsteelblue;
        }
        .gdp, .name {
          font-size: 1em;
          font-weight: bold;
        }
        .year  {
          font-size: 0.8em;
          font-weight: normal;
        }
        .heatLabel {
          font-size: 1.3em;
        }
        .heatLegend {
          font-size: .9em;
          margin: 0 auto;
        }
        .forced-img {
          height: auto;
          width: 25px;
        }
      }
    }
  }
}
.footer {
  text-align: center;
  margin: 1em;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.edge {
  stroke: #999;
  stroke-opacity: .6;
}
