#top {
  text-align: center;
  background-color: darken(white, 5);
  width: 100%;
  color: lighten(#0000FF, 15);
}
#main {
  #content {
    text-align: center;

    #buttons {
      display: inline-block;
      margin-top : 10px;

      #generations-btn {
        &:hover {
          cursor: default;
        }
      }
    }
    #board {
      margin-top: 10px;
      border: 1px solid black;
      width: 800px;
      height: 575px;
      margin: 0 auto;
      padding: 10px;

      .tile {
        font-size: 10px;
        width: 10px;
        height: 10px;
        float: left;
        margin: .5px;
      }
      .tile:nth-child(70n + 1) {
         clear: both;
       }
       .dead {
         background-color: black;
       }
       .alive {
         background-color: lighten(gray, 20);
       }
       .sick {
         background-color: darken(gray, 10);
       }
    }
  }
}
.footer {
  text-align: center;
  margin-top: 100px;
}
